{{ define "main" }}

    <div class="island mb-6">
        <div class="island-body flex flex-col gap-2">
            <h1 class="text-2xl">{{ .Title }}</h1>
            {{- partial "post-summary.html" . }}
        </div>
    </div>

    {{ $pages := where site.RegularPages "Type" "post" }}
    {{ $paginator := .Paginate ($pages.GroupByDate "2006") 100 }}

    {{ range $paginator.PageGroups }}
        <article class="island mb-4">
            <header class="p-4">
                <h2 class="text-2xl">{{ .Key }}</h2>
            </header>
            <ul class="flex flex-col">
                {{ range .Pages }}
                    <li class="border-t border-muted flex flex-wrap items-stretch">
                        <h3 class="text-xl uppercase flex-1">
                            <a class="block px-4 py-2" href="{{ .RelPermalink }}">
                                {{ .LinkTitle }}
                            </a>
                        </h3>

                        <div class="border-s border-muted px-4 py-2 flex items-center justify-center">
                            {{ partial "post-date.html" . }}
                        </div>
                    </li>
                {{ end }}
            </ul>
        </article>
    {{ end }}

    {{ partial "pagination.html" $paginator }}

{{ end }}
