<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>

    {{- $css := resources.Get "css/tailwind.css" | css.TailwindCSS }}
    <link rel="stylesheet" href="{{ $css.RelPermalink }}">

</head>
<body class="bg-slate-100 dark:bg-slate-800">

    <nav class="panel mb-4">
        <div class="container mx-auto">
            <div class="w-1/2 px-4 mx-auto flex">

                <h3>
                    <a href="/">
                        {{ site.Title }}
                    </a>
                </h3>

            </div>
        </div>
    </nav>

    <div class="md:container mx-auto p-2 lg:p-0">
        <div class="grid grid-cols-1 lg:grid-cols-main gap-4">
            <aside></aside>
            <main>
                {{- block "main" . }}{{ end }}
            </main>
            <aside>
                {{- block "side" . }}{{ end }}
            </aside>
        </div>
    </div>

    <footer>
        <div class="container mx-auto text-center text-slate-500 py-4">
            HELLO WORLD
        </div>
    </footer>

</body>
</html>
