<!DOCTYPE html>
<html lang="{{ .Language }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>

    {{- $css := resources.Get "css/tailwind.css" | css.TailwindCSS }}
    <link rel="stylesheet" href="{{ $css.RelPermalink }}">

</head>
<body>
    {{- partial "nav.html" . }}

    <div class="md:container mx-auto px-2 lg:p-0">
        <div class="grid grid-cols-1 lg:grid-cols-main gap-4">
            <aside></aside>
            <main>
                {{- block "main" . }}{{ end }}
            </main>
            <aside>
                {{- block "side" . }}{{ end }}
            </aside>
        </div>
    </div>

    <footer class="border-t border-muted mt-8">
        <div class="container mx-auto text-center text-slate-500 py-4">
            &copy;&nbsp;{{ site.Title }}
        </div>
    </footer>

</body>
</html>
