{{ define "main" }}
    <div class="island u-block mb-6">
        <div class="island-body flex flex-col gap-2">
            <h1 class="text-2xl">{{ .Title }}</h1>
            {{- partial "post-summary.html" . }}
        </div>
    </div>

    <ul class="grid grid-cols-1 lg:grid-cols-2 gap-4">

        {{ range .Data.Terms.ByCount }}
            <li class="w-full h-full">
                <a  
                    href="{{ .Page.RelPermalink }}"
                    class="button block w-full h-full island transition-colors">
                    <div class="w-full h-full flex items-center justify-between">
                        <h2 class="text-xl">
                            <span class="text-muted">#</span>
                            <span href="{{ .Page.RelPermalink }}">
                                {{ .Page.LinkTitle }}
                            </span>
                        </h2>
                        <span class="text-muted">({{ .Count }})</span>
                    </div>
                </a>
            </li>
        {{ end }}

    </ul>
{{ end }}
