{{ define "main" }}
    <div class="panel mb-4">
        <h1 class="headline mb-4">{{ .Title }}</h1>
        {{ with .Summary }}
            <div class="summary">{{ . }}</div>
        {{ else }}
            <div class="porse">
                {{ .Content }}
            </div>
        {{ end }}
    </div>

    <ul class="columns-1 lg:columns-2">

        {{ range .Data.Terms.ByCount }}
            <li class="panel mb-4 hover:bg-slate-200 transition-colors">
                <a  
                    href="{{ .Page.RelPermalink }}"
                    class="flex justify-between items-center">
                    <h2 class="headline-2">
                        <span class="text-slate-500">#</span>
                        <span href="{{ .Page.RelPermalink }}">
                            {{ .Page.LinkTitle }}
                        </span>
                    </h2>
                    <span class="text-slate-400">({{ .Count }})</span>
                </a>
            </li>
        {{ end }}

    </ul>
{{ end }}
