{{ define "main" }}
    <div class="island mb-6">
        <div class="island-header">
            <h2>{{ .Title }}</h2>
        </div>
        {{ with .Summary }}
            <div class="island-body">{{ . }}</div>
        {{ end }}
    </div>

    <div class="main-content">
        <ul>
            {{ range .Paginator.Pages }}
                <li>
                    {{ partial "post-card.html" . }}
                </li>
            {{ end }}
        </ul>

        {{ partial "pagination.html" .Paginator }}
    </div>
{{ end }}

{{ define "side" }}
    <h2>SIDE</h2>
{{ end }}
