{{ define "main" }}
    <div class="panel mb-4">
        <div class="flex">
            <a href="/">HOME</a>
            <span>&nbsp;/&nbsp;</span>
            <a href="/tags">Tags</a>
            <span>&nbsp;/&nbsp;</span>
            <h1>{{ .Title }}</h1>
        </div>
        {{ with .Summary }}
            <div class="summary mt-4">{{ . }}</div>
        {{ end }}
    </div>

    <div class="main-content">
        <ul>
            {{ range .Paginator.Pages }}
                <li class="panel mb-4">
                    {{ partial "post-item-mini" . }}
                </li>
            {{ end }}
        </ul>

        {{ partial "pagination.html" .Paginator }}
    </div>
{{ end }}

{{ define "side" }}
    <h2>SIDE</h2>
{{ end }}
