<div class="island mb-4">

    {{ partial "post-figure.html" . }}

    <header class="island-header relative">
        <h2 class="text-2xl flex items-center justify-start gap-2">
            {{ if eq .Section "archives" }}
                {{- partial "icon.html" "bootstrap/archive" }}
            {{ else if eq .Section "authors" }}
                {{- partial "icon" "user-circle"}}
            {{ else if eq .Section "tags" }}
                {{- partial "icon" "tag"}}
            {{ else if eq .Section "about" }}
                {{- partial "icon" "information-circle"}}
            {{ else if eq .Section "categories" }}
                {{- partial "icon" "bookmark"}}
            {{ else }}
                <span>{{ .Section }}</span>
            {{ end }}
            <span>{{ .Title }}</span>
        </h2>
    </header>

    {{ with .Params.Description }}
        <div class="island-body text-muted">
            {{ . }}
        </div>
    {{ end }}
</div>
