<article class="panel mb-4">
    <header>
        <h2 class="headline mb-4">
            <a class="text-slate-950" href="{{ .RelPermalink }}">{{ .Title }}</a>
        </h2>
    </header>

    {{ partial "post-cover" . }}

    <div class="summary">

        <div class="mb-4 prose">
            {{ with .Params.description }}
                {{ . }}
            {{ else }}
                {{ .Summary }}
            {{ end }}
        </div>

    </div>

    <footer class="">
        {{- partial "post-meta.html" . }}
    </footer>
</article>
