<article class="p-8 mb-8 bg-slate-50 rounded-md shadow-xl shadow-slate-200">
                
    <p class="text-sm mb-1 text-neutral-500">
        <a href="{{ .RelPermalink }}" class="hover:text-green-500">
            <time datetime="{{ .Date }}">
                {{ .Date.Format "2006-01-02 15:04:05" }}
            </time>
        </a>
    </p>
    <h3 class="text-4xl font-semibold uppercase mb-4">
        <a class="text-neutral-950" href="{{ .RelPermalink }}">{{ .Title }}</a>
    </h3>

    {{ if .Params.cover.image }}
        <figure class="mb-4">
            <a href="{{ .RelPermalink }}">
                <div class="img-wrapper rounded-sm overflow-hidden">
                    {{ $img := .Resources.GetMatch .Params.cover.image }}
                    {{ if $img }}
                        <img 
                            class="block text-slate-500 bg-slate-300 w-full"
                            src="{{ $img.RelPermalink }}" alt="fakeimg.pl" />
                    {{ else }}
                    <img 
                        class="block text-slate-500 bg-slate-300 w-full"
                        src="https://fakeimg.pl/640x480/" alt="fakeimg.pl" />
                    {{ end }}
                    
                </div>
            </a>
        </figure>
    {{ end }}

    <div class="text-neutral-500">

        <blockquote class="mb-4">
            {{ with .Params.description }}
                {{ . }}
            {{ else }}
                {{ .Summary }}
            {{ end }}
        </blockquote>

        <div class="flex items-center justify-start">
            {{- partial "tags" . -}}
        </div>

    </div>

</article>
