<article class="">

    <div class="panel mb-4">
        <header class="mb-4">
            {{ partial "post-datetime" . }}
            <h1 class="headline my-4">{{ .Title }}</h1>
        </header>

        <div class="summary my-4">{{ .Summary }}</div>
    
        {{ partial "post-cover" . }}
    
        <div class="prose prose-stone prose-xl dark:prose-invert prose-p:leading-relaxed">
            {{ .Content }}
        </div>
    </div>

    <div class="panel mb-4">
        <footer>
            {{- partial "tags" . -}}
        </footer>
    </div>

    <div class="panel mb-4 flex items-stretch gap-4">
        <div class="flex-1 flex justify-start">
            {{ with .Prev }}
                {{ .Title }}
            {{ end }}
        </div>
        <div class="flex-1 flex justify-end">
            {{ with .Next }}
                {{ .Title }}
            {{ end }}
        </div>
    </div>

</article>
