<article class="">

    <div class="island mb-6">
        {{- partial "post-figure.html" . }}

        <header class="island-header">
            <h1 class="text-2xl">{{ .Title }}</h1>
        </header>
    
        <div class="island-body">
            <div class="prose prose-gray dark:prose-invert prose-xl prose-p:leading-relaxed">
                {{ .Content }}
            </div>
        </div>

        <footer class="island-footer flex flex-wrap gap-2 justify-between">
            {{- partial "post-date.html" . }}
            {{- partial "post-tags.html" . }}
        </footer>
    </div>

    <div class="button-group gap-2 mb-4 flex items-stretch">
        {{ with .Prev }}
        <a 
            href="{{ .RelPermalink }}"
            class="button flex-1 flex gap-4 justify-start border-r-1">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
                </svg>

                <span>{{ .Title }}</span>
            </a>
        {{ else }}
            <span class="button disabled flex flex-1 gap-4 justify-start">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
                </svg>

                <span>&nbsp;</span>
            </span>
        {{ end }}

        {{ with .Next }}
            <a 
                href="{{ .RelPermalink }}"
                class="button flex-1 flex gap-4 justify-end">

                <span>{{ .Title }}</span>

                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                </svg>
            </a>
        {{ else }}
            <span class="button disabled flex-1 flex gap-4 justify-end">
                <span>&nbsp;</span>

                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                </svg>
            </span>
        {{ end }}
    </div>

</article>
