<article class="card mb-4">
    {{ partial "post-cover" . }}

    <div class="card-body">
        <header>
            <h2 class="card-title mb-4">
                <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            </h2>
        </header>
    </div>

    <div class="summary">
        <div class="mb-4 prose">
            {{ with .Params.description }}
                {{ . }}
            {{ else }}
                {{ .Summary }}
            {{ end }}
        </div>
    </div>

    <footer class="">
        {{- partial "post-meta.html" . }}
    </footer>
</article>
